@use '../utils' as *;

$titleStyles: 600 48px / normal;
$regularTextStyles: 400 20px / normal;
$semiBoldTextStyles: 600 20px / normal;
$smallTextStyles: 400 12px / normal;

$fontRegular: Nunito;
$fontSemiBold: 'Nunito SemiBold';
$fontBold: 'Nunito Bold';